body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: paleturquoise;
  overflow-x: hidden;
  overflow-y: auto;
}
.div {
  position: absolute;
  display: flex;
}
#first {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 600px;
}
#middle {
  position: relative;
  margin-top: 120px;
  height: 700px;
  width: 100%;
}
#last {
  width: 100%;
  position: relative;
  margin-top: 300px;
  height: 300px;
}
#road {
  position: relative;
  z-index: 1100;
  margin-top: 690px;
  width: 100%;
  height: 710px;
}

#clouds {
  position: relative;
  bottom: 90px;
  height: 200px;
  width: 100%;
  z-index: 800;
}

#sign {
  position: absolute;
  margin-top: 810px;
  margin-left: 68px;
  width: 13%;
  height: 18%;
  z-index: 5019;
}
#lampright {
  position: relative;
  margin-top: 32%;
  margin-right: 38.5%;
  height: 10%;
  width: 50px;
  z-index: 2019;
}
#lamp2right {
  position: relative;
  margin-top: 200px;
  margin-left: 2260px;
  height: 60%;
  width: 6%;
  z-index: 2019;
}
#lampleft {
  position: relative;
  margin-top: 450px;
  margin-left: 700px;
  height: 25%;
  width: 4%;
  z-index: 2019;
}

x code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
