body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: paleturquoise;
}
.div {
  position: relative;
}
#first {
  position: absolute;
  bottom: 620px;
  width: 100%;
  height: 600px;
}
#middle {
  position: absolute;
  bottom: 440px;
  height: 700px;
  width: 100%;
}
#last {
  width: 100%;
  position: absolute;
  top: 200px;
  height: 300px;
}
#road {
  position: absolute;
  z-index: 1100;
  top: 42%;
  width: 100%;
  height: 710px;
}

#clouds {
  position: absolute;
  bottom: 1130px;
  height: 200px;
  width: 100%;
  z-index: 800;
}

#sign {
  position: relative;
  top: 650px;
  left: 10px;
  width: 300px;
  height: 200px;
  z-index: 5019;
}
#lampright {
  position: fixed;
  top: 32%;
  right: 38.5%;
  height: 100px;
  width: 50px;
  z-index: 2019;
}
#lamp2right {
  position: fixed;
  top: 12%;
  right: 4%;
  height: 580px;
  width: 150px;
  z-index: 2019;
}
#lampleft {
  position: fixed;
  top: 25%;
  left: 20%;
  height: 300px;
  width: 110px;
  z-index: 2019;
}

x code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
