#root {
  height: 100%;
  width: 100%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0;

  background-color: paleturquoise;
  overflow-x: hidden;
  overflow-y: auto;
}

#first {
  position: relative;
  height: 500px;
  width: 100%;
}
#middle {
  position: relative;
  /* margin-top: 120px; */
  height: 600px;
  width: 100%;
}
#last {
  width: 100%;
  position: relative;
  /* margin-top: 300px; */
  height: 300px;
}
#road {
  position: relative;
  z-index: 1100;
  /* margin-top: 790px; */
  width: 100%;
  height: 600px;
}

#clouds {
  position: absolute;
  height: 200px;
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

#sign {
  /* position: fixed; */
  /* margin-top: 22%; */
  /* margin-left: 5%; */
  width: 13%;
  height: 20%;
  /* height: 20%; */
  /* z-index: 5019; */
}
#lampright {
  position: fixed;
  margin-top: 32%;
  margin-right: 38.5%;
  height: 10%;
  width: 50px;
  z-index: 2019;
}
/* #lamp2right {
  
  /* margin-top: 200px; */
/* margin-left: 2260px; */
/* display: flex; */
/* margin-right: 80px; */
/* justify-content: flex-end; */
/* align-items: flex-end; */
/* height: 60%; */
/* width: 6%; */
/* z-index: 2019; }*/
.navbar {
  position: sticky;
  background-color: black;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 30px;
}
#lampleft {
  position: fixed;
  margin-top: 540px;
  margin-left: 760px;
  height: 25%;
  width: 4%;
  z-index: 2019;
}

x code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
